<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FocusViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Your SQL connection string should be specified below.
    The two most common connection strings are:
     For using full MS-SQL:    Data Source=.;Initial Catalog=Focus;Integrated Security=True
     For using MS-SQL express: Data Source=.\SQLEXPRESS;Initial Catalog=Focus;Integrated Security=True    -->
    <add name="FocusViewer.Properties.Settings.FocusConnectionString"
      connectionString="Data Source=.;Initial Catalog=Focus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <FocusViewer.Properties.Settings>
      <!--The number of Tickers(Symbols) that are to be decoded. (Only tested with 32!)-->
      <setting name="TickerCount" serializeAs="String">
        <value>32</value>
      </setting>
      <!--The number of attributes for each ticker such as high/low/close. (Only tested with 32!)-->
      <setting name="AttributeCount" serializeAs="String">
        <value>32</value>
      </setting>
      <!--The focus code (or program) is a 3D piece of code because it fits will with a GPU. 
      The 3Ds are FocusCodeSets, FocusCodeLanes, and FocusCodeBits. (Only tested with 32!)-->
      <setting name="FocusCodeSets" serializeAs="String">
        <value>32</value>
      </setting>
      <!--The focus code (or program) is a 3D piece of code because it fits will with a GPU. 
      The 3Ds are FocusCodeSets, FocusCodeLanes, and FocusCodeBits. (Only tested with 32!)-->
      <setting name="FocusCodeLanes" serializeAs="String">
        <value>32</value>
      </setting>
      <!--The focus code (or program) is a 3D piece of code because it fits will with a GPU. 
      The 3Ds are FocusCodeSets, FocusCodeLanes, and FocusCodeBits. (Only tested with 32!)-->
      <setting name="FocusCodeBits" serializeAs="String">
        <value>32</value>
      </setting>
    </FocusViewer.Properties.Settings>
  </applicationSettings>
</configuration>
