<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="FocusViewer.Properties.Settings.FocusConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Focus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>